<!doctype html>
<html>
  <head>
    <title>Add book to <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%>: Add book</h1>
    <form method="POST" action="/bookadded">
        <p>Book name: <input id="name" type="text" name="name" value="" /></p>
        <p>Price: <input id="price" type="text" name="price" value="" /></p>
        <p>Genre:
          <select name="genre">
            <option value="Horror">Horror</option>
            <option value="Classic">Classic</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Adventure Stories">Adventure Stories</option>
            <option value="Romance">Romance</option>
            <option value="Science Fiction">Science Fiction</option>
            <option value="War">War</option>
            <option value="Crime">Crime</option>
            <option value="Fiction">Fiction</option>
            <option value="Biography">Biography</option>
          </select>
        </p>
        <input type="submit" value="Add Book" />
    </form>
  </body>
</html>