<!doctype html>
<html>

<head>
    <title>Logout Confirmation</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <h1>Logout Confirmation</h1>
    <p>You are now logged out.</p>
    <p><a href="/">Go to Home Page</a></p>
</body>

</html>
