<!doctype html>
<html>

<head>
    <title>Random Number Fact</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>

    <div class="header-container">
        <div class="navigation">
            <a href="/">Home</a>
            <a href="/book-page-fact">Get Random Fact for Book Page</a>

        </div>
    </div>

    <h2>Random Number Fact</h2>
    <p><%= fact %></p>

</body>
</html>
