<!DOCTYPE html>
<html>

<head>
    <title>Registration Successful</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <h1>Registration Successful</h1>
    <p>Your registration was successful!</p>
    <p>You can now log in to access the application.</p>

    <div class="button-container">
        <form action="/" method="get">
            <button type="submit">Go back to main menu</button>
        </form>
    </div>
</body>

</html>
