<!doctype html>
<html>
<head>
    <title>Book Deleted</title>
</head>
<body>
    <h1>Book Deleted Successfully</h1>
    <script>
        // Redirect to another page after a short delay (e.g., 3 seconds)
        setTimeout(() => {
            window.location.href = '/';
        }, 3000);
    </script>

</body>
</html>
