body {
  font-family: 'Arial', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #29bda4;
  
  color: #000000;
}

header, h1, h2, h3 {
  text-align: center;
  color: darkcyan;
}

h2 {
  color: rgb(228, 245, 0);
  font-size: 24px; 
  font-weight: bold; 
}

p, li {
  text-align: center;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 8px;
  display: inline-block;
  font-weight: bold; 
}

a:hover {
  color: white;
  background-color: rgb(22, 63, 116);
}

.container {
  max-width: 1200px;
  margin: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff; 
  padding: 20px; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-container {
  text-align: center; 
  margin-top: 20px; 
}

.button-container form {
  display: flex;
  justify-content: center; 
}

.button-container form button {
  margin: 0 auto; 
}


section {
  background-color: #fff;
  padding: 2em;
  margin: 1em 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

form label {
  color: #000; 
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000; 
  transition: color 0.3s; 
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus {
  color: #000; 
}

form button[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  padding: 8px 20px; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  width: 250px; 
  white-space: nowrap; 
}

form button[type="submit"]:hover {
  background-color: #0056b3;
}

input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  padding: 1em 2em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

li {
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: #000;
}

li:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

li strong {
  color: #084793;
}

li::before {
  content: 'ID: ';
  font-weight: bold;
}

.user-details {
  margin-left: 20px;
}

@media (max-width: 600px) {
  li {
    font-size: 14px;
  }
}

.promotion {
  background-color: #084793;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.promotion h2 {
  color: #6baf6d;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.navigation {
  display: flex;
  gap: 10px;
}

.navigation.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.navigation.top-right p {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px; 
}

.navigation.top-right a {
  margin-right: 10px; 
}

.navigation a {
  color: #333;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  font-size: 14px;
  transition: color 0.3s; 
}

.navigation a:hover {
  color: rgb(0, 195, 255);
}


.navigation.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.navigation.top-left p {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navigation.top-left a {
  margin-right: 10px; 
}

.contact-info {
  text-align: right;
}

.contact-info p {
  margin: 0;
}

.search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search-box-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#search-box {
  width: 300px;
  padding: 8px;
}

#home-search-button {
  background-color: #084792;
  color: #fff;
  padding: 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

#home-search-button:hover {
  background-color: #0056b3;
}

.header-container::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-top: 10px;
}

.book-types {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
  background-color: #084793;
}

.book-link {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 6px;
  margin: 0 3px;
  border-radius: 4px;
  text-decoration: none;
}

.book-link:hover {
  background-color: #0056b3;
}

.book-types {
  display: flex;
}

.book-type {
  padding: 0 10px;
}

.book-type:not(:last-child)::after {
  content: '|';
  margin-left: 10px;
  color: #ccc;
}

#signup-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#signup-link:hover {
  color: red; 
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.book-item {
  text-align: center;
  margin: 20px;
}

.book-image {
  width: 200px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-price {
  color: #000;
  font-weight: bold;
  margin-top: 10px;
}

.add-to-cart-btn {
  background-color: #007BFF;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}


.book-reviews-section {
  text-align: center;
  margin-top: 40px;
}

.star-reviews {
  margin-bottom: 20px;
}

.star-reviews h3 {
  color: #000;
  font-weight: bold;
}

.star-reviews ul {
  list-style: none;
  padding: 0;
}

.star-reviews li {
  background-color: #fff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: #000;
}

.star-reviews li:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.review-book-image {
    width: 100px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-book-name {
    font-weight: bold;
    margin: 10px 0;
}

.review-box {
  background-color: #f9f9f9; 
  padding: 20px; 
  margin-bottom: 20px; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

select {
  width: 100%; 
  padding: 8px; 
  margin: 8px 0; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
}

input[type="number"] {
  width: 100%; 
  padding: 8px; 
  margin: 8px 0; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
}

.most-sold-books-section {
  text-align: center;
  margin-top: 40px; 
}

.most-sold-books-title {
  color: #000;
  font-weight: bold;
}

.most-sold-books-section .book-item {
  display: inline-block;
  margin: 20px;
  text-align: center; 
}

.most-sold-books-section .book-image {
  width: 200px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.most-sold-books-section .book-rating {
  color: #ffcc00; 
  font-size: 18px;
  margin-top: 5px;
}

.most-sold-books-section .book-price {
  color: #000;
  font-weight: bold;
  margin-top: 10px;
}

.most-sold-books-section .add-to-cart-btn {
  background-color: #007BFF;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.most-sold-books-section .add-to-cart-btn:hover {
  background-color: #0056b3;
}

.latest-books-section {
    text-align: center;
    margin-top: 40px;
    background-color: rgb(217, 255, 0);
}

.latest-books-title {
    color: #000;
    font-weight: bold;
}

.latest-books-section .book-item {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.latest-books-section .book-image {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.latest-books-section .book-rating {
    color: #ffcc00;
    font-size: 18px;
    margin-top: 5px;
}

.latest-books-section .book-price {
    color: #000;
    font-weight: bold;
    margin-top: 10px;
}

.latest-books-section .add-to-cart-btn {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.latest-books-section .add-to-cart-btn:hover {
    background-color: #0056b3;
}


.coming-soon-section {
  text-align: center;
  margin-top: 20px; 
}

.coming-soon-notice {
  color: #777; 
  font-style: italic;
}

.social-media-links img {
  width: 40px; 
  height: auto; 
  margin-right: 10px; 
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  text-align: center;
}

.social-media-links {
  text-align: center;
  margin-top: 20px; 
}

.copyright {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.social-icon {
  margin: 0 10px; 
}


.related-books {
  text-align: center; 
}

.related-books h1 {
}

.related-books ul {
  list-style: none; 
  padding: 0; 
}

.related-books li {
  background-color: #fff; 
  padding: 15px; 
  margin: 10px 0; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  text-align: left; 
  color: #000; 
}

.related-books li:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
}

.related-books a {
  color: #007BFF;
  text-decoration: none; 
  font-weight: bold; 
}

.related-books a:hover {
  color: #0056b3; 
}

.related-books .back-to-main-menu {
  display: inline-block; 
  margin-top: 40px; 
}

.main-menu-link {
  color: #333;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 14px;
  margin-right: 10px;
  transition: color 0.3s; 
}

.main-menu-link:hover {
  color: rgb(0, 195, 255);
  background-color: #ffffff; 
}